main {
    padding: 0 1.5rem;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    
    .vertical_align {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .text_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        span {
            font-size: 1rem;
            font-family: Barlow Condensed, sans-serif;
            letter-spacing: 2.7px;
            font-weight: 400;
            color: $light-gray;
        }

        font-size: 80px;
        font-weight: 400;
        color: $white;
    }

    p {
        font-family: Barlow Condensed, sans-serif;
        color: $light-gray;
        font-size: 15px;
        line-height: 25px;
    }

    .explore {
        border: none;
        border-radius: 50%;
        width: 150px;
        height: 150px;

        font-family: Bellefair, sans-serif;
        font-size: 20px;
        letter-spacing: 1.25px;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 3rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        z-index: -1;

        h1 {
            span {
                font-size: 20px;
            }

            font-size: 150px;
        }

        p {
            line-height: 28px;
            width: 440px;
        }

        .text_container {
            align-items: center;
        }

        .explore {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        text-align: start;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        height: 100vh;

        .vertical_align {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        h1 {
            span {
                margin-left: .75rem;
                font-size: 28px;
                letter-spacing: 4.72px;
            }

            line-height: 171.9px;
        }

        p {
            font-size: 18px;
            line-height: 32px;
        }

        .explore {
            cursor: pointer;
            display: block;
            width: 274px;
            height: 274px;
            font-size: 32px;
        }

        .button_hover {
            align-self: flex-end;
            display: grid;
            place-content: center;
            border: 1px solid transparent;
            border-radius: 50%;
            width: 375px;
            height: 375px;

            &:hover {
                background: rgba(71, 71, 71, 0.25);
                mix-blend-mode: normal;
                backdrop-filter: blur(.5rem);
                transition: .2s;
            }
        }
    }
}