main {
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        span {
            padding-right: .5rem;
            font-family: Barlow Condensed, sans-serif;
            font-weight: 700;
            color: $white;
            opacity: .25;
        }

        font-family: Barlow Condensed;
        font-weight: 400;
        font-size: 1rem;
        color: $white;
        letter-spacing: 2.7px;
        line-height: 19.2px;
    }

    .desktop_column {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .dots {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 1rem;
    
            .launchButton {
                background: none;
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: grid;
                place-content: center;
                cursor: pointer;
                font-family: Bellefair, sans-serif;
                font-size: 16px;
                line-height: 18.34px;
                color: $white;

                &:focus {
                    outline: 1px solid #eee;
                    outline-offset: 3px;
                }
            }

            .active {
                background: $white;
                color: #000;
                transition: .2s;
            }
        }
    }

    .launchSlide {
        display: none;
        flex-direction: column;
        gap: 2rem;

        picture {
            img {
                width: 100%;
                height: 200px;
            }
        }

        .text_container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            h2 {
                span {
                    font-family: Barlow Condensed, sans-serif;
                    color: $light-gray;
                    font-size: 14px;
                    line-height: 26.8px;
                    letter-spacing: 2.36px;
                }
    
                padding: 0 1.5rem;
                color: $white;
                font-size: 24px;
                line-height: 37.5px;
                font-weight: 400;
            }
    
            p {
                padding: 0 1.5rem;
                font-size: 16px;
                color: $light-gray;
                line-height: 25px;
                font-family: Barlow Condensed, sans-serif;
            }
        }

    }
}

.fade {
    animation: fade 1s;
    
    @keyframes fade {
      from {opacity: 0}
      to {opacity: 1}
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 3rem 0;

        h1 {
            font-size: 20px;
        }
        
        .launchSlide {
            gap: 2rem;

            picture {
                img {
                    height: 310px;
                }
            }

            .text_container {
                align-items: center;

                h2 {
                    span {
                        font-size: 16px;
                        letter-spacing: 2.7px;
                        line-height: 55px;
                    }

                    font-size: 40px;
                    line-height: 45.84px;
                }

                p {
                    line-height: 28px;
                    width: 458px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 3rem;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 28px;
            line-height: 33.6px;
            letter-spacing: 4.72px;
        }

        .desktop_column {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .dots {
                margin-top: 2.5rem;
                flex-direction: column;
                gap: 2rem;

                .launchButton {
                    width: 60px;
                    height: 60px;
                    font-size: 1.25rem;
                    transition: .2s;

                    &:hover {
                        border: 1px solid $white;
                        color: $white;
                        transition: .2s;
                    }

                    &.active {
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }

            .launchSlide {
                flex-direction: row-reverse;
                text-align: start;
                align-items: center;

                .text_container {
                    align-items: flex-start;
                }

                picture {
                    img {
                        width: 515px;
                        height: 527px;
                    }
                }

                h2 {
                    text-align: start;
                    padding: 0;

                    span {
                        margin-left: .25rem;
                        font-size: 16px;
                    }

                    font-size: 56px;
                    line-height: 64.18px;
                }

                p {
                    padding: 0;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}