@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Bellefair, sans-serif;
  font-size: 150px;
}

h2 {
  font-family: Bellefair, sans-serif;
  font-size: 100px;
}

h3 {
  font-family: Bellefair, sans-serif;
  font-size: 56px;
}

h4 {
  font-family: Bellefair, sans-serif;
  font-size: 32px;
}

body {
  background: url("../starter-code/assets/technology/background-technology-mobile.jpg") no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  body {
    background: url("../starter-code/assets/technology/background-technology-tablet.jpg") no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background: url("../starter-code/assets/technology/background-technology-desktop.jpg") no-repeat;
    background-size: 100% 100%;
  }
}
a {
  color: hsl(0deg, 0%, 100%);
  font-family: Barlow Condensed, sans-serif;
  letter-spacing: 2.7px;
  text-decoration: none;
}
a:focus {
  outline: 2px dashed #eee;
}
a.skip--link {
  background-color: hsl(0deg, 0%, 100%);
  color: #000;
  font-size: 1.125rem;
  padding: 0.25rem;
  position: absolute;
  left: -500px;
  transition: 0.2s;
}
a.skip--link:focus {
  left: 0;
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .hamburger {
    border: none;
    background: transparent;
    z-index: 100;
    position: fixed;
    right: 0;
    padding: 1.5rem;
  }
  header nav .nav-ul {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 99;
    right: -999rem;
    transition: right 3s;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem 0 6rem 2rem;
    width: 15rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
  }
  header nav .nav-ul li {
    padding: 0.5rem 0;
  }
  header nav .nav-ul li:nth-of-type(4) {
    border-right: 4px solid hsl(0deg, 0%, 100%);
  }
  header nav .nav-ul li:nth-of-type(2) span {
    letter-spacing: 4px;
  }
  header nav .nav-ul a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  header nav .nav-ul a span {
    font-weight: 700;
  }
  header nav .nav-ul.show {
    right: 0;
    transition: 0.3s;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo {
    padding: 0 1.5rem;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  header nav .nav-ul li:nth-of-type(4) {
    border-bottom: 2px solid hsl(0deg, 0%, 100%);
  }
  header nav .nav-ul a {
    height: 69px;
    display: grid;
    place-content: center;
  }
  header nav .nav-ul a span {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header {
    position: relative;
    z-index: 101;
  }
  header .logo {
    padding: 3rem;
  }
  header nav .nav-ul {
    gap: 4rem;
    padding-left: 9rem;
    padding-right: 6rem;
  }
  header nav .nav-ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s;
  }
  header nav .nav-ul li:hover:nth-of-type(1), header nav .nav-ul li:hover:nth-of-type(2), header nav .nav-ul li:hover:nth-of-type(3) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.2s;
  }
  header nav .nav-ul li:hover:nth-of-type(1) a, header nav .nav-ul li:hover:nth-of-type(2) a, header nav .nav-ul li:hover:nth-of-type(3) a {
    color: hsl(231deg, 76%, 90%);
  }
  header nav .nav-ul a {
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  header nav .nav-ul a span {
    display: block;
    font-weight: 700;
  }
}
main {
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main h1 {
  font-family: Barlow Condensed;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2.7px;
  line-height: 19.2px;
}
main h1 span {
  padding-right: 0.5rem;
  font-family: Barlow Condensed, sans-serif;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  opacity: 0.25;
}
main .desktop_column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .desktop_column .dots {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .desktop_column .dots .launchButton {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-family: Bellefair, sans-serif;
  font-size: 16px;
  line-height: 18.34px;
  color: hsl(0deg, 0%, 100%);
}
main .desktop_column .dots .launchButton:focus {
  outline: 1px solid #eee;
  outline-offset: 3px;
}
main .desktop_column .dots .active {
  background: hsl(0deg, 0%, 100%);
  color: #000;
  transition: 0.2s;
}
main .launchSlide {
  display: none;
  flex-direction: column;
  gap: 2rem;
}
main .launchSlide picture img {
  width: 100%;
  height: 200px;
}
main .launchSlide .text_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .launchSlide .text_container h2 {
  padding: 0 1.5rem;
  color: hsl(0deg, 0%, 100%);
  font-size: 24px;
  line-height: 37.5px;
  font-weight: 400;
}
main .launchSlide .text_container h2 span {
  font-family: Barlow Condensed, sans-serif;
  color: hsl(231deg, 76%, 90%);
  font-size: 14px;
  line-height: 26.8px;
  letter-spacing: 2.36px;
}
main .launchSlide .text_container p {
  padding: 0 1.5rem;
  font-size: 16px;
  color: hsl(231deg, 76%, 90%);
  line-height: 25px;
  font-family: Barlow Condensed, sans-serif;
}

.fade {
  -webkit-animation: fade 1s;
          animation: fade 1s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 3rem 0;
  }
  main h1 {
    font-size: 20px;
  }
  main .launchSlide {
    gap: 2rem;
  }
  main .launchSlide picture img {
    height: 310px;
  }
  main .launchSlide .text_container {
    align-items: center;
  }
  main .launchSlide .text_container h2 {
    font-size: 40px;
    line-height: 45.84px;
  }
  main .launchSlide .text_container h2 span {
    font-size: 16px;
    letter-spacing: 2.7px;
    line-height: 55px;
  }
  main .launchSlide .text_container p {
    line-height: 28px;
    width: 458px;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 3rem;
    margin: auto 0;
    width: 100%;
  }
  main h1 {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 4.72px;
  }
  main .desktop_column {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main .desktop_column .dots {
    margin-top: 2.5rem;
    flex-direction: column;
    gap: 2rem;
  }
  main .desktop_column .dots .launchButton {
    width: 60px;
    height: 60px;
    font-size: 1.25rem;
    transition: 0.2s;
  }
  main .desktop_column .dots .launchButton:hover {
    border: 1px solid hsl(0deg, 0%, 100%);
    color: hsl(0deg, 0%, 100%);
    transition: 0.2s;
  }
  main .desktop_column .dots .launchButton.active:hover {
    color: #000;
  }
  main .desktop_column .launchSlide {
    flex-direction: row-reverse;
    text-align: start;
    align-items: center;
  }
  main .desktop_column .launchSlide .text_container {
    align-items: flex-start;
  }
  main .desktop_column .launchSlide picture img {
    width: 515px;
    height: 527px;
  }
  main .desktop_column .launchSlide h2 {
    text-align: start;
    padding: 0;
    font-size: 56px;
    line-height: 64.18px;
  }
  main .desktop_column .launchSlide h2 span {
    margin-left: 0.25rem;
    font-size: 16px;
  }
  main .desktop_column .launchSlide p {
    padding: 0;
    font-size: 18px;
    line-height: 32px;
  }
}/*# sourceMappingURL=style.css.map */