main {
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        span {
            padding-right: .5rem;
            font-family: Barlow Condensed, sans-serif;
            font-weight: 700;
            color: $white;
            opacity: .25;
        }

        font-family: Barlow Condensed;
        font-weight: 400;
        font-size: 1rem;
        color: $white;
        letter-spacing: 2.7px;
        line-height: 19.2px;
    }

    .dots {
        justify-content: center;
        display: flex;
        gap: 1rem;

        .dot {
            cursor: pointer;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: $white;
            opacity: .17;

            &:hover {
                opacity: .4;
                transition: .2s;
            }
        }

        .active {
            background: $white;
            opacity: 1;
            transition: .2s;
        }
    }

    .crewSlide {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        img {
            width: 270px;
            height: 368px;
            border-bottom: 1px solid #383b4b;
        }

        // .dots {
        //     display: flex;
        //     gap: 1rem;

        //     .dot {
        //         cursor: pointer;
        //         border-radius: 50%;
        //         width: 10px;
        //         height: 10px;
        //         background: $white;
        //         opacity: .17;

        //         &:hover {
        //             opacity: .4;
        //             transition: .2s;
        //         }
        //     }

        //     .active {
        //         background: $white;
        //         opacity: 1;
        //     }
        // }

        .text_container {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h1 {
                span {
                    font-size: 16px;
                    opacity: .5;
                }
                
                color: $white;
                font-size: 24px;
                font-weight: 400;
                line-height: 33.34px;
            }

            p {
                color: $light-gray;
                font-family: Barlow Condensed, sans-serif;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}

.fade {
    animation: fade 1s;
    
    @keyframes fade {
      from {opacity: 0}
      to {opacity: 1}
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 3rem;
        gap: 1rem;

        .dots {
            margin-top: .75rem;
        }

        h2 {
            font-size: 20px;
        }

        .crewSlide {
            img {
                z-index: -1;
                position: absolute;
                bottom: 0;
                order: 2;
                border-bottom: none;
                width: 55%;
                height: 54%;
            }

            .text_container {
                gap: 0;

                h1 {
                    span {
                        font-size: 24px;
                        line-height: 27.5px;
                    }
    
                    font-size: 40px;
                    line-height: 55.84px;
                }

                p {
                    font-size: 16px;
                    line-height: 28px;
                    width: 458px;
                }
            }

        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        h2 {
            z-index: 99;
            font-size: 28px;
            line-height: 33.6px;
            letter-spacing: 4.72px;
        }

        .dots {
            z-index: 99;
        }

        .crewSlide {
            padding: 0 3rem;
            flex-direction: row;
            text-align: start;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100vh;
            z-index: 0;

            .text_container {
                position: relative;
                z-index: 2;

                h1 {
                    span {
                        font-size: 32px;
                        line-height: 36.67px;
                    }

                    font-size: 56px;
                    line-height: 64.18px;
                }

                p {
                    font-size: 18px;
                    line-height: 32px;
                    width: 444px;
                }
            }

            img {
                padding-right: 3rem;
                right: 0;
                bottom: 0;
                width: 468.07px;
                height: 712px;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    main {
        .crewSlide {
            padding: 0 0 0 9rem;

            img {
                padding-right: 9rem;
                width: 600px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    main {
        .crewSlide {
            padding: 0 11rem;

            img {
                padding-right: 11rem;
                width: 768px;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    main {
        .crewSlide {
            padding: 0 0 0 20rem;

            img {
                padding-right: 20rem;
            }
        }
    }
}