main {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        span {
            padding-right: .5rem;
            font-family: Barlow Condensed, sans-serif;
            font-weight: 700;
            color: $white;
            opacity: .25;
        }

        font-family: Barlow Condensed;
        font-weight: 400;
        font-size: 1rem;
        color: $white;
        letter-spacing: 2.7px;
        line-height: 19.2px;
    }

    .crewSlide {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        img {
            width: 200px;
            border-bottom: 1px solid #383b4b;
        }

        .dots {
            display: flex;
            gap: 1rem;

            .dot {
                cursor: pointer;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: $white;
                opacity: .17;

                &:hover {
                    opacity: .4;
                    transition: .2s;
                }
            }
        }

        .text_container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                span {
                    font-size: 16px;
                    opacity: .5;
                }
                
                color: $white;
                font-size: 24px;
                font-weight: 400;
                line-height: 28.34px;
            }

            p {
                color: $light-gray;
                font-family: Barlow Condensed, sans-serif;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}