main {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .main--heading {
        span {
            padding-right: .5rem;
            font-family: Barlow Condensed, sans-serif;
            font-weight: 700;
            color: $white;
            opacity: .25;
        }

        font-family: Barlow Condensed;
        font-weight: 400;
        font-size: 1rem;
        color: $white;
        letter-spacing: 2.7px;
        line-height: 1.2rem;
    }

    .buttons_container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button, span {
            background: none;
            border: none;
            font-family: Barlow Condensed, sans-serif;
            font-size: 0.875rem;
            letter-spacing: 2.36px;
            line-height: 1.05rem;
            color: $light-gray;
            padding: 1rem 0;
            border-bottom: 3px solid transparent;
            transition: .2s;

            &:focus-visible {
                outline: 2px dashed #eee;
            }

            &.active {
                border-bottom: 3px solid $white;
                transition: .2s;
            }

            &:hover {
                border-bottom: 3px solid $light-gray;
                transition: .2s;
            }
        }
    }

    .destinationSlide {
        text-align: center;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
            width: 275px;
            user-select: none;
        }

        .rotate {
            animation: rotation 540s infinite linear;

            @keyframes rotation {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(359deg);
                }
            }
        }


        .desktop_column {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        .text_container {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;

            h2 {
                font-size: 3.5rem;
                line-height: 4.011rem;
                font-weight: 400;
                color: $white;
            }

            p {
                color: $light-gray;
                font-family: Barlow Condensed, sans-serif;
                font-size: 0.938rem;
                line-height: 1.563rem;
            }
        }

        .information_container {
            border-top: 1px solid #383b4b;
            padding-top: 2rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            .information {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .distance_time {
                    color: $light-gray;
                    font-family: Barlow Condensed, sans-serif;
                    font-size: 0.875rem;
                    line-height: 1.05rem;
                    letter-spacing: 2.36px;
                }

                .value {
                    color: $white;
                    font-family: Bellefair, sans-serif;
                    font-size: 1.75rem;
                    line-height: 2.006rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.fade {
    animation: fade 1s;
    
    @keyframes fade {
      from {opacity: 0}
      to {opacity: 1}
    }
}
  

@media screen and (min-width: 768px) {
    main {
        padding: 3rem;
        gap: 1.5rem;

        .main--heading {
            text-align: start;
        }


        .buttons_container {
            gap: 2rem;

            button, span {
                font-size: 1rem;
                line-height: 1.2rem;
                letter-spacing: 2.7px;
                cursor: pointer;
            }
        }

        .destinationSlide {
            gap: 2rem;

            img {
                width: 300px;
            }

            .text_container {
                padding-bottom: 2rem;

                h2 {
                    font-size: 5rem;
                    line-height: 5.73rem;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.75rem;
                    width: 573px;
                    letter-spacing: 1px;
                }
            }

            .information_container {
                padding-top: 3rem;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .desktop_column {
                gap: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        .main--heading {
            text-align: center;

            font-size: 1.75rem;
            line-height: 2.1rem;
            letter-spacing: 4.72px;

            span {
                padding-right: 1rem;
            }
        }

        .buttons_container {
            button, span {
                font-size: 1rem;
                line-height: 1.2rem;
                letter-spacing: 2.7px;
            }
        }

        .destinationSlide {
            text-align: start;
            flex-direction: row;
            justify-content: space-around;
            
            img {
                width: 350px;
            }

            .text_container {
                h2 {
                    font-size: 6.25rem;
                    line-height: 7.163rem;
                }

                p {
                    font-size: 1.125rem;
                    line-height: 2rem;
                }
            }

            .information_container {
                justify-content: flex-start;
                gap: 5rem;
            }


        }
    }
}

@media screen and (min-width: 1440px) {
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .destinationSlide {
            gap: 5rem;

            img {
                width: 500px;
            }
        }
    }
}