@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Bellefair, sans-serif;
  font-size: 150px;
}

h2 {
  font-family: Bellefair, sans-serif;
  font-size: 100px;
}

h3 {
  font-family: Bellefair, sans-serif;
  font-size: 56px;
}

h4 {
  font-family: Bellefair, sans-serif;
  font-size: 32px;
}

body {
  background: url("../starter-code/assets/destination/background-destination-mobile.jpg") no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  body {
    background: url("../starter-code/assets/destination/background-destination-tablet.jpg") no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background: url("../starter-code/assets/destination/background-destination-desktop.jpg") no-repeat;
    background-size: 100% 100%;
  }
}
a {
  color: hsl(0deg, 0%, 100%);
  font-family: Barlow Condensed, sans-serif;
  letter-spacing: 2.7px;
  text-decoration: none;
}

.logo--link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .hamburger {
    border: none;
    background: transparent;
    z-index: 100;
    position: fixed;
    right: 0;
    padding: 1.5rem;
  }
  header nav .nav-ul {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 99;
    right: -999rem;
    transition: right 3s;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem 0 6rem 2rem;
    width: 15rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
  }
  header nav .nav-ul li {
    padding: 0.5rem 0;
  }
  header nav .nav-ul li:nth-of-type(2) {
    border-right: 4px solid hsl(0deg, 0%, 100%);
  }
  header nav .nav-ul li:nth-of-type(2) span {
    letter-spacing: 4px;
  }
  header nav .nav-ul a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  header nav .nav-ul a span {
    font-weight: 700;
  }
  header nav .nav-ul.show {
    right: 0;
    transition: 0.3s;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo {
    padding: 0 1.5rem;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  header nav .nav-ul li:nth-of-type(2) {
    border-bottom: 2px solid hsl(0deg, 0%, 100%);
  }
  header nav .nav-ul a {
    height: 69px;
    display: grid;
    place-content: center;
  }
  header nav .nav-ul a span {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header .logo {
    padding: 3rem;
  }
  header nav .nav-ul {
    gap: 4rem;
    padding-left: 9rem;
    padding-right: 6rem;
  }
  header nav .nav-ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s;
  }
  header nav .nav-ul li:hover:nth-of-type(1) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.2s;
  }
  header nav .nav-ul li:hover:nth-of-type(1) a {
    color: hsl(231deg, 76%, 90%);
  }
  header nav .nav-ul li:hover:nth-of-type(n+3) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.2s;
  }
  header nav .nav-ul li:hover:nth-of-type(n+3) a {
    color: hsl(231deg, 76%, 90%);
  }
  header nav .nav-ul a {
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  header nav .nav-ul a span {
    display: block;
    font-weight: 700;
  }
}
main {
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main h2 {
  font-family: Barlow Condensed;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2.7px;
  line-height: 19.2px;
}
main h2 span {
  padding-right: 0.5rem;
  font-family: Barlow Condensed, sans-serif;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  opacity: 0.25;
}
main .buttons_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .buttons_container button, main .buttons_container span {
  background: none;
  border: none;
  font-family: Barlow Condensed, sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  line-height: 16.8px;
  color: hsl(231deg, 76%, 90%);
  padding: 1rem 0;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}
main .buttons_container button.active, main .buttons_container span.active {
  border-bottom: 3px solid hsl(0deg, 0%, 100%);
  transition: 0.2s;
}
main .buttons_container button:hover, main .buttons_container span:hover {
  border-bottom: 3px solid hsl(231deg, 76%, 90%);
  transition: 0.2s;
}
main .destinationSlide {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main .destinationSlide img {
  width: 275px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .destinationSlide .rotate {
  -webkit-animation: rotation 540s infinite linear;
          animation: rotation 540s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
main .destinationSlide .desktop_column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .destinationSlide .text_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
main .destinationSlide .text_container h1 {
  font-size: 56px;
  line-height: 64.18px;
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
}
main .destinationSlide .text_container p {
  color: hsl(231deg, 76%, 90%);
  font-family: Barlow Condensed, sans-serif;
  font-size: 15px;
  line-height: 25px;
}
main .destinationSlide .information_container {
  border-top: 1px solid #383b4b;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .destinationSlide .information_container .information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .destinationSlide .information_container .information .distance_time {
  color: hsl(231deg, 76%, 90%);
  font-family: Barlow Condensed, sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2.36px;
}
main .destinationSlide .information_container .information .value {
  color: hsl(0deg, 0%, 100%);
  font-family: Bellefair, sans-serif;
  font-size: 28px;
  line-height: 32.09px;
}

.fade {
  -webkit-animation: fade 1s;
          animation: fade 1s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 3rem;
    gap: 1.5rem;
  }
  main h2 {
    text-align: start;
  }
  main .buttons_container {
    gap: 2rem;
  }
  main .buttons_container button, main .buttons_container span {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    cursor: pointer;
  }
  main .destinationSlide {
    gap: 2rem;
  }
  main .destinationSlide img {
    width: 300px;
  }
  main .destinationSlide .text_container {
    padding-bottom: 2rem;
  }
  main .destinationSlide .text_container h1 {
    font-size: 80px;
    line-height: 91.68px;
  }
  main .destinationSlide .text_container p {
    font-size: 16px;
    line-height: 28px;
    width: 573px;
    letter-spacing: 1px;
  }
  main .destinationSlide .information_container {
    padding-top: 3rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .destinationSlide .desktop_column {
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  main h2 {
    text-align: center;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 4.72px;
  }
  main h2 span {
    padding-right: 1rem;
  }
  main .buttons_container button, main .buttons_container span {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
  }
  main .destinationSlide {
    text-align: start;
    flex-direction: row;
    justify-content: space-around;
  }
  main .destinationSlide img {
    width: 350px;
  }
  main .destinationSlide .text_container h1 {
    font-size: 100px;
    line-height: 114.6px;
  }
  main .destinationSlide .text_container p {
    font-size: 18px;
    line-height: 32px;
  }
  main .destinationSlide .information_container {
    justify-content: flex-start;
    gap: 5rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .destinationSlide {
    gap: 5rem;
  }
  main .destinationSlide img {
    width: 500px;
  }
}/*# sourceMappingURL=style.css.map */